@font-face {
  font-family: 'ImpactBackup';
  src: url('/fonts/impact-opt.ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
canvas {
  border: 1px dotted #aaa;
  float: left;
}
textarea {
  float: left;
}
