<textarea id=top>One does not simply...</textarea>
<canvas width=555 height=327></canvas>
<textarea id=bottom>Create a meme generator in HTML5 canvas</textarea>
<button>To Imgur!</button>
<input type=text id=imgurLink />
